<!--Clients-->
  <section id="clients" class="scrollto clearfix">
            <div class="row clearfix">

                <div class="col-3">

                  <div class="section-heading">
                    <h3>CONFIANZA</h3>
                    <h2 class="section-title">Empresas que utilizan nuestros servicios</h2>
                    <p class="section-subtitle">Estas son algunas de las empresas que confían en nosotros para mejorar su presencia en línea y alcanzar sus objetivos de negocio.</p>
                </div>

                </div>

                <div class="col-2-3">
                  <ng-container *ngFor="let client of clients">
                    <a class="col-3">
                      <img [src]="client.avatar" alt="Company"/>
                      <div class="client-overlay"><span>{{ client.name }}</span></div>
                    </a>
                  </ng-container>
                </div>

            </div>
  </section>
<!--End of Clients-->
