<!--Introduction-->
        <section id="about" class="introduction scrollto">

            <div class="row clearfix">

                <div class="col-3">
                  <div class="section-heading">
                    <h3>ÉXITO</h3>
                    <h2 class="section-title">Cómo Te Ayudamos a Vender Tu Producto</h2>
                    <p class="section-subtitle">Nuestro equipo se dedica a proporcionar soluciones de desarrollo web que impulsan tus ventas y mejoran tu presencia en línea. Trabajamos contigo para alcanzar tus objetivos.</p>
                </div>

                </div>

                <div class="col-2-3">

                    <!--Icon Block-->
                    <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-html5 fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                          <h4>HTML5 &amp; CSS3</h4>
                          <p>Utilizamos las últimas tecnologías en HTML5 y CSS3 para crear sitios web modernos y eficientes que se adapten a tus necesidades.</p>
                      </div>
                    </div>
                    <!--End of Icon Block-->

                    <!--Icon Block-->
                    <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-bolt fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                          <h4>Fácil de Usar</h4>
                          <p>Nuestras soluciones están diseñadas para ser intuitivas y fáciles de usar, asegurando una experiencia de usuario sin complicaciones.</p>
                      </div>
                    </div>
                    <!--End of Icon Block-->

                    <!--Icon Block-->
                    <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-tablet fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                          <h4>Totalmente Responsivo</h4>
                          <p>Desarrollamos sitios web que se ven y funcionan perfectamente en todos los dispositivos, desde móviles hasta escritorios.</p>
                      </div>
                    </div>
                    <!--End of Icon Block-->

                    <!--Icon Block-->
                    <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-rocket fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                          <h4>Efecto Parallax</h4>
                          <p>Implementamos efectos parallax para crear experiencias de navegación atractivas y dinámicas que capturan la atención de los usuarios.</p>
                      </div>
                    </div>
                    <!--End of Icon Block-->

                </div>

            </div>


        </section>
<!--End of Introduction-->
