@if (currentPath != "/login" && currentPath != "/register" && currentPath != "/not-found") {
    <footer id="landing-footer" class="clearfix">
        <div class="row clearfix">

            <p id="copyright" class="col-2">Hecho con amor, <a href="https://www.youtube.com/@mikedaujat2489">DavidMike</a></p>

            <!--Social Icons in Footer-->
            <ul class="col-2 social-icons">
                <li>
                    <a target="_blank" title="Facebook" href="https://youtu.be/LcI8sfwxvIs?si=I7YiG4Z-kISWRrSE">
                        <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" title="Google+" href="https://youtu.be/K03qbalEL8w?si=0Km5xvchi2UZ3XWg">
                        <i class="fa fa-google-plus fa-1x"></i><span>Google+</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" title="Twitter" href="https://youtu.be/1V86zPO8KaE?si=adyp5WEuOghDhZVu">
                        <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" title="Instagram" href="https://youtu.be/8zcocInDKu8?si=lljQPEhAOJNrpPuL">
                        <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" title="behance" href="https://youtu.be/J0vIEn0XSBA?si=bHQFCkczJ0lO9pQp&t=51">
                        <i class="fa fa-behance fa-1x"></i><span>Behance</span>
                    </a>
                </li>
            </ul>
            <!--End of Social Icons in Footer-->
        </div>
    </footer>
    <!--End of Footer-->
}
