<!-- <div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
    <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
    <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
    <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
    <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
</div>-->

<div id="wrapper">
    <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
        <!--Banner Content-->
        <div id="banner-content" class="row clearfix">

            <div class="col-38">

              <div class="section-heading">
                <h1>BIENVENIDOS A NAMARI</h1>
                <h2>Ofrecemos servicios de desarrollo web personalizados para ayudar a tu empresa a alcanzar el éxito en línea. Trabajamos contigo para crear soluciones que se adapten a tus necesidades específicas.</h2>
            </div>

                <!--Call to Action-->
                <a href="https://youtu.be/d-ggzGbsEWE?si=y9jA3LYxD5vtroc5" class="button">COMIENZA A CREAR HOY</a>
                <!--End Call to Action-->

            </div>

        </div><!--End of Row-->
    </header>

    <!--Main Content Area-->
    <main id="content">

        <!--Content Section-->
        <div id="services" class="scrollto clearfix">

            <div class="row no-padding-bottom clearfix">


                <!--Content Left Side-->
                <div class="col-3">
                    <!--User Testimonial-->
                    <blockquote class="testimonial text-right bigtest">
                      <q>Los servicios que ofrecen son de alta calidad y nos han ayudado a mejorar significativamente nuestra presencia en línea.</q>
                      <footer>— John Doe, Cliente Satisfecho</footer>
                    </blockquote>
                    <!-- End of Testimonial-->

                </div>
                <!--End Content Left Side-->

                <!--Content of the Right Side-->
                <div class="col-3">
                    <div class="section-heading">
                        <h3>CREER</h3>
                        <h2 class="section-title">Enfocándonos en lo que más importa</h2>
                        <p class="section-subtitle">Nos dedicamos a proporcionar soluciones personalizadas que se adaptan a tus necesidades específicas y te ayudan a alcanzar tus objetivos.</p>
                    </div>
                    <p>Nos especializamos en el desarrollo de sitios web modernos y
                      funcionales que no solo se ven bien, sino que también ofrecen
                      una experiencia de usuario excepcional.
                    </p>
                    <p>Ya sea que necesites un sitio web corporativo,
                      una tienda en línea o una plataforma personalizada,
                      nuestro equipo tiene la experiencia y
                      las habilidades para hacer realidad tu visión.</p>
                    <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
                    <a href="https://youtu.be/NSCPLlM-izM?si=ibiAB1gxIYPsZT8u" data-videoid="NOZONW-UK0w" data-videosite="youtube" class="button video link-lightbox">
                        VER VIDEO <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
                <!--End Content Right Side-->

                <div class="col-3">
                  <!-- Muestra una imagen solo si la variable 'imageUrl' está definida -->
                  <img *ngIf="imageUrl" [src]="imageUrl" alt="Dancer"/>
                </div>

            </div>


        </div>
        <!--End of Content Section-->
    </main>
    <!--End Main Content Area-->

</div>
